name: docker-build-stage-ci
on:
  pull_request:
    branches: 
      - "main"
  workflow_dispatch:
    inputs:
      disable-cache:
        description: "Unuse docker build cache"
        default: false
        required: false
        type: boolean

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v5
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - 
        name: Set current datetime as env variable
        env:
          TZ: 'Asia/Tokyo'
        run: echo "BUILD_DATETIME=$(date +'%Y-%m-%d_%H-%M')" >> $GITHUB_ENV
      -
        name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          cache-from: type=gha
          cache-to: type=gha,mode=max
          no-cache: ${{ inputs.disable-cache == true }}
          push: false

  show_yaml:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v5
      -
        name: Run docker build
        shell: bash
        run: |
          docker compose up
      -
        name: Show yaml
        shell: bash
        run: |
          cat ./app/tld_list.yaml
          